@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* font-family: 'Inter', sans-serif; */

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: #e4f2f4;
}

input::placeholder {
    font-style: italic;
}

textarea::placeholder {
    font-style: italic;
}

.inter {
    font-family: "Inter", sans-serif;
}

.darkblue {
    color: #034953;
}

.blue {
    color: #007080;
}

.label_gray {
    color: #c8d9de;
}

.label_green {
    color: #035306;
}

.label_red {
    color: #8b0000;
}

.border_red {
    border-color: #8b0000;
}

.label_darkorange {
    color: #8b7b00;
}

.darkblue_bg {
    background-color: #034953;
}

.darkgreen_bg {
    background-color: #035306;
}

.darkred_bg {
    background-color: #8b0000;
}

.blue_bg {
    background-color: #007080;
}

.lightpink_bg {
    background-color: #fff2f2;
}

.fileholder {
    background-color: white !important;
}
